<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context-3.1.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">

	<import resource="dao-config.xml" />

	<context:annotation-config />
	<context:component-scan base-package="pe.com.tss.rhtss" />
	<mvc:annotation-driven />


	<!-- Conexion a Base de Datos -->
	<bean
		class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer"
		id="propertyPlaceholder">
		<property name="location" value="classpath:database.properties" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
	</bean>
	<bean id="DataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>


	<!-- define the SqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="DataSource" />
		<property name="configLocation" value="WEB-INF/config/mybatis/mybatis-config.xml" />
	</bean>

	<!-- scan for mappers and let them be autowired -->
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="pe.com.tss.rhtss.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>
	
	





</beans>
